<div class="container">
  <h1>Here are all your places</h1>
  <div class="place-cards" data-controller="like">
    <% @likes.each do |place| %>
      <!-- Render a card -->
      <%= render 'places/card', place: place %>
    <% end %>
  </div>
</div>
